<html>

  <head>
    <style>
    #map {
      height: 500px;
      width: 700px;
    }
    span {
      visibility: hidden;
    }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize(){
        var getLat = document.querySelector("#lat").innerHTML;
        var getLong = document.querySelector("#long").innerHTML;
        console.log(getLat);
        var lat = parseFloat(getLat);
        console.log(lat);
        var long = parseFloat(getLong);

        var evtLocation = new google.maps.LatLng(lat,long);

        var displayMap = {
        center : evtLocation,
        zoom : 14,
        mapTypeId : google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"), displayMap);

        var mapMarker = {
          url:'http://www.goughmap.org/_a/cms_page_media/29/red_marker_1.png'
        }

        var marker = new google.maps.Marker({
          position: evtLocation,
          map: map,
          icon: mapMarker
        });
        // var marker = new google.maps.Marker({
        //   position: evtLocation,
        //   map: map,
        //   title: 'Hello World!'
        // });

        marker.setMap(displayMap);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>



  </head>
  <body>

    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <form class="logout" action='/logout' method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button>Log out</button>
        </form>
        <a class="list" href='/favorite'>My Favorite List</a>
      </div>
    </div>
    <a id="pre_page" href='/events'>Back to Events</a>
    <div>
      <p><%= object[:address] %><br>
      <%= object[:city] %>, <%= object[:state] %></p>
    </div>

    <span id="lat"><%= object[:lat] %></span>
    <span id="long"><%= object[:long] %></span>

    <div id="map">
    </div>



  </body>

</html>
